<div class="opinion_content"><%= @opinion.content %></div>
<div class="opinion_author"><%= @opinion.author_email %></div>
<div class="opinion_created_at"><%= @opinion.created_at %></div>
<div class="opinion_updated_at"><%= @opinion.updated_at %></div>
