
.clearfix {overflow:auto;padding-top:2px;padding-bottom:2px;}

body {
  text-align: center;
  font-family: 'BankGothicMdBTMedium', arial, sans-serif;
  background-image: url('/images/background_gradient.png');
  background-repeat: repeat-x;
  background-color: #55722d;
  margin: 0 8px;
}

#content_wrapper {
  width: 950px;
  text-align: left;
  margin: 0 auto;
}

#header {
  height: 70px;
}

#header h1 {
  color: #fff;
  margin: 16px 0;
  text-transform: uppercase;
}

#nav_bar {
  background-color: #5c5c5c;
  line-height: 29px;
}

#nav_bar #nav {
  margin: 0;
  padding: 0 0 0 20px;
}

#nav_bar #nav li {
  display: block;
  float: left;
  margin: 0 40px 0 0;
  text-align: center;
}

#nav_bar #nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #afce67;
  font-size: 1.3em;
}

#nav_bar #nav li a:hover {
  color: #fff;
}

#content {
  padding: 20px 0;
}

#sidebar {
  width: 330px;
  float: right;
  background-color: #fff;
}

#sidebar .sub_title {
  background-color: #5c5c5c;
  color: #7ba541;
  margin: 0;
  padding: 12px 20px;
}

#sidebar ul {
  margin: 0;
  padding: 1em 2em;
  list-style-type: none;
  font-family: arial, sans-serif;
  font-size: 1.2em;
}

#sidebar ul li {
  margin: 1em 0;
}

#sidebar ul a {
  color: #aebf88;
}

#sidebar ul a:hover {
  color: #97a676;
}

#main {
  width: 580px;
  float: left;
}

.main_title {
  background-color: #c6da9b;
  color: #55722d;
  padding: 16px 20px;
  margin: 0;
}

.main_title a {
  color: #55722d;
  text-decoration: none;
}

.post {
  background-color: #fff;
  color: #646464;
}

.post_body {
  background-color: #fff;
  color: #646464;
  margin: 1.3em 2em;
  font-family: arial, sans-serif;
}

.post_body p {
  margin-bottom: 1.3em;
}

.updated_at,.created_at {
  padding: 10px 20px;
  font-style: italic;
}

.resume {
  background-color: #fff;
  padding: 10px 20px;
  font-family: arial, sans-serif;
  font-size: 1.3em;
  color: #646464;
}

.resume ul.contact_info {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

.resume ul {
  padding-left: 26px;
  margin-bottom: 0;
}

.resume ul li {
  margin-bottom: 5px;
}

.job,.education {
  line-height: 1.3em;
  margin-bottom: 2em;
}

.company_name,.school_name {
  font-weight: bold;
}
