
.clearfix {overflow:auto;}

body {
  text-align: center;
  font-family: 'BankGothicMdBTMedium', arial, sans-serif;
  background-image: url('/images/background_gradient.png');
  background-repeat: repeat-x;
  margin: 0 8px;
}

#content_wrapper {
  width: 950px;
  text-align: left;
  margin: 0 auto;
}

#header {
  height: 70px;
}

#header h1 {
  color: #fff;
  margin: 16px 0;
  text-transform: uppercase;
}

#nav_bar {
  background-color: #5c5c5c;
  line-height: 29px;
}

#nav {
  margin: 0;
  padding: 0 0 0 20px;
}

#nav_bar ul#nav li {
  display: block;
  float: left;
  margin: 0 40px 0 0;
  text-align: center;
}

#nav_bar #nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #afce67;
}

#content {
  padding: 20px 0;
}

.main_title {
  background-color: #c6da9b;
  color: #55722d;
  padding: 16px 20px;
}

.main_title h3 {
  margin: 0;
}

.main_title h3 a {
  color: #55722d;
  text-decoration: none;
}

.post {
  width: 580px;
}

.post_body {
  background-color: #fff;
  color: #646464;
  padding: 10px 20px;
}
