<h2 class="main_title">Resume</h2>
<div class="resume">
  <h3>James R. Bancroft</h3>
  <p>
  <ul class="contact_info">
    <li><%= mail_to 'jim.bancroft@gmail.com' %></li>
    <li>Cell Phone: 609-313-5213</li>
    <li>Lowell, MA</li>
  </ul>
  </p>
  <h3>Objective</h3>
  <p>To learn.</p>
  <h3>Profile</h3>
  <p>
  <ul>
    <li>Special focus on developing network and web applications</li>
    <li>Willing to travel if necessary</li>
    <li>3 years of experience programming web applications</li>
    <li>4 years of experience programming in the defense industry</li>
    <li>8 years of education in software development</li>
  </ul>
  </p>
  <h3>Skills</h3>
  <p>
  <ul>
    <li><strong>Programming Languages:</strong> ActionScript, C/C++, C#, Java, JavaScript, PHP, Ruby, Visual Basic</li>
    <li><strong>Web Technologies:</strong> AJAX, Flex, Spring, Rails, ASP.NET, J2EE, jQuery</li>
    <li><strong>Databases:</strong> MySQL, Oracle, PostgreSQL, Microsoft Access, MS SQL Server</li>
    <li><strong>Operating Systems:</strong> *nix, Mac OSX, Windows</li>
  </ul>
  </p>
  <h3>Work Experience</h3>
  <div class="job">
    <div class="clearfix">
      <div class="left"><span class="company_name">Revolutionary Systems</span> South Plainfield, NJ</div>
      <div class="right">October 2007 - June 2010</div>
    </div>
    <div>Web Developer</div>
    <ul>
      <li>Worked on a project to rewrite an existing web CMS written in Java into Ruby on Rails (with expanded functionality)</li>
      <ul>
        <li>Organized the code in such a way that optional features could be isolated from the core CMS, so that they could be included/excluded/modified based on individual clients' needs</li>
        <li>Leveraged previous experience with open source web content management systems to introduce new and improved features into the project</li>
      </ul>
      <li>Built a process-visualization application for clients to use on corporate intranets</li>
      <ul>
        <li>Spearheaded an initiative to adopt Agile Software Development practices into the project team</li>
        <ul>
          <li>Developed a suite of automated tests that helped to detect regressions and bugs</li>
          <li>Helped introduce habit of participating in Daily Stand-up Meetings</li>
          <li>Introduced the notion of iterative development and helped organize the project to follow a predictable cycle of releases</li>
        </ul>
        <li>Introduced the following software/libraries into the code base:</li>
        <ul>
          <li>Maven for managing builds</li>
          <li>Flex/ActionScript front-end running on the client-side</li>
          <li>FlexUnit for client-side automated testing</li>
          <li>BlazeDS for sending domain objects between the client and a J2EE server</li>
          <li>Spring for inversion of control and auto wiring collaborators on the server side</li>
          <li>Hibernate for use as an ORM</li>
          <li>JUnit for automated testing of server side code</li>
          <li>Hudson for continuous integration</li>
          <li>JIRA for ticket tracking</li>
        </ul>
        <li>Designed most of the high level architecture of the application</li>
        <li>Participated in all major phases of the Software Development Lifecycle</li>
      </ul>
      <li>Developed several websites to give small business clients a web presence</li>
      <ul>
        <li>Created a web CMS in Java to allow clients to customize the content of their site after delivery</li>
      </ul>
      <li>Utilized the jQuery JavaScript framework to create several user interface enhancements</li>
      <ul>
        <li>Adapted a drag and drop sortable to allow dynamic nesting of elements</li>
        <li>Created a table interface that allowed arbitrary sorting and basic filtering functionality</li>
        <li>Used AJAX techniques to do partial page updates to/from the server</li>
      </ul>
      <li>Used JBoss and WebLogic Application Servers with MySQL and Oracle Databases</li>
      <li>Developed a basic blogging application in JRuby on Rails</li>
      <ul>
        <li>Included support for syntax highlighting of code examples</li>
        <li>Collected usage statistics using Google Analytics</li>
      </ul>
    </ul>
  </div><!-- job -->
  <div class="job">
    <div class="clearfix">
      <div class="left"><span class="company_name">Systems Documentation, Inc.</span> South Plainfield, NJ</div>
      <div class="right">January 2007 - October 2007</div>
    </div>
    <div>Software Developer</div>
    <ul>
      <li>Developed a database-driven web application to deliver training materials to warfighters</li>
      <ul>
        <li>Researched various web frameworks such as Joomla and DotNetNuke to expedite development to
        meet an early initial deadline</li>
        <li>After analyzing several different XML documentation standards that were required for certain content, set up a content repository for DITA files</li>
        <li>Integrated the output of a third party XML content repository to be displayed within the framework of a DotNetNuke website - this effort required setting up IIS to Tomcat redirection because the aforementioned third party output assumed that a particular servlet was available if it was being run from a web server</li>
      </ul>
    </ul>
  </div><!-- job -->
  <div class="job">
    <div class="clearfix">
      <div class="left"><span class="company_name">Frontier Technology, Inc.</span> Beverly, MA</div>
      <div class="right">May 2003 - August 2006</div>
    </div>
    <div>Software Developement Intern</div>
    <ul>
      <li>Validated and maintained a test plan for a set of tools used in data analysis to help with sensor calibration.  Brought several useful techniques to the attention of the rest of the team, since many of them were not primarily programmers</li>
      <ul>
        <li>Instituted the use of source control through CVS to minimize confusion between project stakeholders</li>
        <li>Helped set up a Bugzilla site for tracking bugs in the project</li>
      </ul>
      <li>Developed an InstallShield installer for the existing set of tools</li>
      <ul>
        <li>Documented the process of creating and packaging a new release on the integration machine so that any team member could deliver an update in short order</li>
      </ul>
      <li>Developed a new set of software tools used in data analysis/calibration of surveillance satellite sensors from May, 2004 to August, 2006 (designed to replace the existing code base)</li>
      <li>The existing set of tools was written in an obscure proprietary language that was slow, had little community support, and required source code to be distributed – the new application was developed in C++ using MFC</li>
      <ul>
        <li>Identified areas of intense processing, isolating such code into worker threads, and developed a messaging framework to allow asynchronous updates to the GUI</li>
      </ul>
    </ul>
  </div><!-- job -->
  <h3>Education</h3>
  <div class="education">
    <div class="clearfix">
      <div class="left"><span class="school_name">Rensselaer Polytechnic Institute</span> Troy, NY</div>
      <div class="right">Graduated December 2006</div>
    </div>
    <div>Bachelor of Science, Computer Science</div>
    <div>Minors: Community and Health Psychology, Management and Technology</div>
  </div>
</div>
