- content_for(:html_header) do
  = auto_discovery_link_tag(:atom)
- unless @posts.empty?
  = render :partial => 'post', :locals => { :post => @posts.first }
  = render :partial => 'posts_menu', :locals => { :posts => @posts }
