<html>
  <head>
    <title>Developing Thoughts</title>
  </head>
  <body>
    <ul class="nav">
      <li><%= link_to 'Post an Opinion', new_opinion_path %></li>
    </ul>
    <%= render :partial => 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
